<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}  {% endblock title %}</title>
  {% load static %}
  {% block script %} {% endblock script %}
  {% block extra_js %} {% endblock extra_js %}

  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">Edutotop</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="{% url 'home:index' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>
      <li>
        {% if  user.is_authenticated %}
        <a href="{% url 'users:profile' user.profile.id %}">
        {% else %}
        <a href="{% url 'users:login' %}">
        {% endif %}
          <i class='bx bx-user'></i>
          <span class="links_name">Profile</span>
        </a>
        <span class="tooltip">Profile</span>
      </li>
      <li>
        <a href="#" class="dropdown-student">
          <i class='bx bx-book-open'></i>
          <span class="links_name">Student</span>
            <i class='bx bxs-up-arrow links_name' id="arrow" style="position:relative;left:4rem;"></i>         
        </a>
        <span class="tooltip">Student</span>

        <li class="dropdown-list dropdownli">
          <a href="{%  url 'home:bag' %}" >
            <i class='bx bx-book-open'></i>
            <span class="links_name">Bag</span> 
            </a>
        
          <a href="{% url 'home:status'  %}"  >
            <i class='fas fa-user-tie'></i>
            <span class="links_name">Status</span> 
            </a>
        
          <a href="">
            <i class='bx bx-chat'></i>
            <span class="links_name">Message</span> 
            </a>
        </li>
        
      </li>
      <li>
        <a href="#" class="dropdown-teacher" >
          <i class='bx bxs-graduation'></i>
          <span class="links_name ">Teacher</span>
          <i class='bx bxs-up-arrow links_name' id="arrow-teach" style="position:relative;left:4rem;"></i>
        </a>
        <span class="tooltip">Teacher</span>

        <li class="dropdown-list dropdownlist">
          <a href="{% url 'home:course-upload' %}" >
            <i class='bx bx-video'></i>
            <span class="links_name">Courses</span> 
            </a>
          
          <a href="{% url 'home:video-upload' %}" >
              <i class='bx bx-video'></i>
              <span class="links_name">Video</span> 
              </a>
        
          <a href="{% url 'home:notes-upload' %}">
            <i class='bx bxs-notepad'></i>
            <span class="links_name">Notes</span> 
            </a>
        
          <a href="{% url 'home:analytics' %}">
            <i class='bx bx-bar-chart-alt-2'></i>
            <span class="links_name">Analytics</span> 
            </a>
            <a href="">
              <i class='bx bx-chat'></i>
              <span class="links_name">Message</span> 
              </a>
        </li>
      </li>


     
      <li>
        <a href="{% url 'users:settings' %}">
          <i class='bx bx-cog'></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
      </li>
      {% if user.is_authenticated %}
      <li class="profile">
        <div class="profile-details">
          {% if user.profile.image %}
          <img src="{{user.profile.image.url}}" alt="profileImg">
          {% else %}
          <img src="/Data/default.jpeg" alt="profileImg">
          {% endif %}
          <div class="name_job">
            <div class="name">{{user.profile.user}}</div>
          </div>
        </div>
        <a href="{% url 'users:logout' %}"><i class='bx bx-log-out' id="log_out"></i></a>
      </li>
      {% else %}
      <li class="profile">
        <div class="profile-details">
  
          <div class="name_job">
            <div class="btn-login">
              <button> <a href="{% url 'users:login' %}">Login here</button> </a>
            </div>
          </div>
        </div>
      </li>
      
      {% endif %}
    </ul>
  </div>
  <!---<section class="home-section">
    <div class="text">Dashboard</div>
  </section>--->
  {% block filter %}  {% endblock filter %}

{% block body %} {% endblock body %}
</body>
</html>