@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.content{
  height: calc(100vh - 20px);
  padding: 0;
  margin: 0;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.category li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.search input{
  position: relative;
  left: 25%;
  top:-.5rem;
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 50%;
  border: none;
  padding: 0 20px 0 50px;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.category-act{
  background-color: #11101D;
  color: #fff;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.search .bx-search{
  position: relative;
  top: -.3rem;
  left:73.5%;
  color: #fff;
   font-size: 22px;
   z-index: 1;
 
}

.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:27.9%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.category-content{
  display:flex;
  align-items: center;
  height: 60px;
  overflow-x:auto;
  overflow-y: hidden;
  margin-bottom: 10px;
  transition: all .4s ease;
  margin-top:25px;margin-bottom:25px; margin-left: 10px;
}

.category-content::-webkit-scrollbar{
  display: none;
}
.category-content .btn-category{
  transition: all .4s ease;
  flex: 0 0 auto;
  border-radius: 50px;
  border: 1px solid #fff;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 20px;
  color: #11101D;
  margin-left:20px;
  font-size: 15px;
  background-color: #fff;
}
li{
  list-style: none;
}
.header h2{
  padding: 10px;
  border-bottom: 2px solid #11101D;
}
.tabs{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #11101D;
  
}
.msg-div{
  width: 100%;
  display: grid;
  place-items:center;
}
.sc-msg{
  text-align:center;
}
.sc-msg.green{
  background-color: rgb(12, 155, 12);
}
.tabs h5{
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  color: #5e5f61;
  position: relative;
  left: 40%;
  margin-right: 40px;
}
.tabs h5 .active{
  color: #11101D;
  border-bottom: 3px solid #11101D;

}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar .dropdown-list{
 display: none;
}
.sidebar .active{
  color: #11101D;
  background-color: #fff;
}
.sidebar .active .links_name{
  color: #11101d;
}
.sidebar .active i{
  color: #11101d;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .btn-login button{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 10px;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.card-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card-div .card{
  width:25%;
  height: 25%;
  padding: 20px;
  cursor: pointer;
  border:1px solid #5e5f61;
  margin: 20px;
}
.card-div .card .title{
  margin-bottom:10px;
  font-size:16px;
  font-weight:600;
}

.card-div .card:hover{
  border: 2px solid #5e5f61;
}
.card-div .card .views-time{
  color: #5e5f61;
  font-size:14px ;
}
.card-div .card .thumbnail{
  width:100%;
  height: 120px;
}
.card .card-body{
  display: flex;
  flex-direction: row;
}
.card .card-body .card-area{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left:15px;
}
.card-div .card .card-area .name{
  color: #5e5f61;
  font-size:14px ;
}
.card .card-body .circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
}
.hide{
  display: none;
}
#notes{
  transition: all .3s ease-in;
}
#nav_bar{
  display: none;
  width: 100%;
  height: 65px;
  background: #11101D;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-radius: 20px 20px 0 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0px -5px 5px rgba(000,000,000, .2);
}
.nav_buttons{
  width: 100%;
  height: 100%;
  cursor: pointor;
  background: #11101D;
}
.tab{
  width: 100%;
  height: 100%;
  background: #11101D;
  outline: none;
  border: none;
  color: #FFF;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}
#nav_bar > div:first-child{
  border-radius: 20px 0 0 0;
}
#nav_bar > div:last-child{
  border-radius: 0 20px 0 0;
}
#nav_left{
  border-radius: 20px 0 0 0;
}
#nav_right{
  border-radius: 0 20px 0 0;
}
#home_icn_bg{
  background: rgba(255, 255, 255, 1);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  
}
.icon_back{
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  
}
.act{
  background: #FFF;
}
.tab.active {
color: #11101D;
}
.tab > span{
  font-size: 2.5em;
}
.tab.active > span{
  background: #FFF;
border-radius: 50%;
padding: 8px;
}
#menu_slot{
  width: 100vw;
  height: 100vh;
  background: rgba(000, 000, 000, .5);
  display: none;
  z-index: 4;
  position: fixed;
}
#menu_holder{
  background: #FFF;
  width: calc(100%);
  height: 75%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -5px 5px rgba(000,000,000, .2);
  transition: 2s;
  padding: 20px 20px 100px 20px;
  overflow: auto;
}
.menu_options{
  width: 100%;
  height: 55px;
  margin-bottom: 5px;
  border-bottom: 2px #11101D solid;
  color: #FFF;
  font-size: 1rem;
  text-align: left;				
}
.menu_redirects{
  width: 100%;
  height: 55px;
  background: none;
  border: none;
  outline: none;
  color: #11101D;
  font-size: 1rem;
  text-align: left;
  
}

#hide{
  display:none;
}

@media screen and (max-width: 1150px) {
  .sidebar{
    display: inline-block;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
  left: 78px;
  }
  .card-div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width:80%;
    
  }
  .card-div .card {
    width: 95%;
    height: 420px;
    display: block;
    margin-left: 70px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:240px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: none;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:29%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
}

@media screen and (max-width: 1000px) {
  .sidebar{
    display: none;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .card-div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width:100%;
    
  }
  .card-div .card {
    width: 95%;
    height: 420px;
    display: block;
    margin: 20px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:240px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: grid;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:29%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
}
@media screen and (max-width: 900px) {
  .sidebar{
    display: none;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .card-div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
    
  }
  .card-div .card {
    width: 95%;
    height: 420px;
    display: block;
    margin: 20px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:240px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: grid;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:30%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
}

@media screen and (max-width: 800px) {
  .sidebar{
    display: none;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .card-div{
    display: block;
   width: 100%;

  }
  .card-div .card {
    width: 95%;
    height: 380px;
    display: block;
    margin: 20px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:230px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: grid;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:29.9%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
}

@media screen and (max-width: 700px) {
  .sidebar{
    display: none;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .tab h5{
    position:relative;
    left:32%;
  }
  .card-div{
   width: 100%;
   display: block;
  }
  .card-div .card {
    width: 95%;
    height: 380px;
    display: block;
    margin: 20px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:230px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: grid;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:30.9%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
}
@media screen and (max-width: 600px) {
  .sidebar{
    display: none;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .card-div{
   width: 100%;
   display: block;
  }
  .tabs h5{
    position:relative;
    left:30%;
  }
  .card-div .card {
    width: 90%;
    height: 380px;
    display: block;
    margin: 20px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:230px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: grid;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:30.9%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
}
@media screen and (max-width: 500px) {
  .sidebar{
    display: none;
  }
  .home-section{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  
  .card-div{
   width: 100%;
   display: block;
  }
  .tabs h5{
    position:relative;
    left:28%;
  }
  .card-div .card {
    width: 87%;
    height: 380px;
    display: block;
    margin: 20px;
  }
  .card-div .card .thumbnail{
    width:100%;
    height:230px;
  }
  .card .card-body .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  #nav_bar{
    display: grid;
  }
  
.search-filter{
  position: relative;
  top: 2.1rem;
  cursor: pointer;
  left:29.3%;
  color: #fff;
   z-index: 1;
   font-size: 22px;
}
.search input{
  position: relative;
  left: 20%;
  top:-.5rem;
}
.search .bx-search{
  position: relative;
  top: -.3rem;
  left:30.2%;
}
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}