{% extends "auth_base.html" %}
{% block title %}Password Reset{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
                        <h3>Password Reset</h3>
                        <p>To reset your password, enter the email address you use to sign in to iofrm</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{form |crispy}}
                            <div class="form-button full-width">
                                <button type="submit" >Send Reset Link</button>  
                                <a href="{% url 'users:login' %}">TRY TO LOGIN</a>
                            </div>
                        </form>
{% endblock body %}
